// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~select2/src/scss/core';
@import '~@fancyapps/ui/dist/fancybox.css';
@import '~croppie/croppie.css'; // Croppie Plugin
@import '~vue-multiselect/dist/vue-multiselect.min.css';

@import "libs/font-awesome.scss";
@import "main";
@import "custom";

.modal-backdrop {
    opacity: 0.5;
}

.form-group.required .form-control-label:after {
    content: "*";
    color: red;
}

.table-responsive {
    height: 400px;
    overflow: scroll;
}