// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~select2/src/scss/core';
@import '~@fancyapps/ui/dist/fancybox.css';
@import '~croppie/croppie.css'; // Croppie Plugin
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~flatpickr/dist/flatpickr.css';
@import "~suggestions-jquery/dist/css/suggestions.min.css";

@import "libs/font-awesome.scss";
@import "main";
@import "custom";

.modal-backdrop {
    opacity: 0.5;
}

.form-group.required label.form-control-label:before {
    content: "* ";
    color: red;
}

.table-responsive {
    max-height: 1000px;
    overflow: scroll;
}
