/** Page styles */
.page {
    &--error,
    &--success {
        background: #fff!important;
    }

    &.page-protokol {
        .page-content {
            .content-inner {
                margin: 0 auto;
            }
        }
    }

    &.page-anketa {
        /*.page-container {
            max-width: 700px
        }*/
    }
}

.fancybox__content {
    padding: 15px!important;
    max-width: 600px!important;
    min-height: 80vh!important;
}

/** Anketa styles */
.anketa {
    &__addnew {
        width: 100%;
        padding: 20px;
        border: 1px dashed $gray;
        text-align: center;
        margin-bottom: 30px;
        color: $gray;
        font-size: 40px;
        vertical-align: center;
    }
}

.anketa-bordered,
.cloning-clone{
    border: 1px dashed $lightgray;
    padding: 15px;
    margin-bottom: 20px;
}

.cloning-clone {
    background: #fcfcfc;
    margin: 20px 0px;
}

// Snippets
.m-center {
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.anketa-tech {
    background-color: #EEF5F9!important;
}

.anketa-Dop {
    background-color: #fffce8!important;
}

.app-checker-prop {
    font-size: $font-size-sm;
}

.toggle-hidden {
    display: none!important;
}

.border-radius-0 {
    border-radius: 0px;
}

.card {
    overflow-x: auto
}

.field {
    position: relative;

    i {
        position: absolute;
        top: 50%;
        right: 15px;
        font-size: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.Doc {
    padding: 25px;
    background: white;
    font-family: 'Times New Roman', serif;
    font-size: 14px;

    p {
        margin: 5px 0px 2.5px 0px;
    }

    .doc-input[name] {
        cursor: pointer;
    }

    .doc-input {
        font-weight: bold;
        padding: 0;
        background: transparent;
        width: 100%;
        min-width: 350px;
        border: none;
        border-bottom: 1px solid #000;

        &--row {
            width: auto;
            margin: 0;
        }
    }
}

nav.side-navbar ul li li a {
    padding-left: 25px !important;
}

/*
Snippets
 */
label {
    margin-bottom: .2rem;
    font-size: 13px;
}

.table th,
.table td {
    font-size: 13px;
}

[data-field="photo"] input {
    color: transparent
}

.flex-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-date {
    min-height: 40px;
    font-size: 14px;
}

.multiselect, .multiselect__input, .multiselect__single {
    font-size: 14px;
}

.multiselect__option, .multiselect__option span {
    transition: ease-in-out 0.2s;
}

.multiselect__content-wrapper {
    z-index: 1000;
}

.multiselect__option--selected {
    font-weight: normal;
}

.ql-toolbar.ql-snow {
    border: 1px solid #e8e8e8 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ql-container.ql-snow {
    border: 1px solid #e8e8e8 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/**
PRINT
 */
 body {
     font-family: DejaVu Sans, Arial, sans-serif!important;
 }

.w-100 {
    width: 100%;
    display: block;
}

.filled-select2 {
    max-width: 100%;
}

.select2-container .select2-search--inline .select2-search__field,
.select2-container .select2-selection__placeholder,
.select2-container .select2-selection__rendered {
    font-size: 0.8rem;
}

.select2 .select2-selection__rendered {
    margin-top: 5px;
}

.select2-container .select2-search__field {
    font-size: 0.8rem;
}

.select2, .select2 .selection {
    min-width: 100% !important;
    max-width: 100% !important;
}

.select2-selection__rendered {
    line-height: 16px !important;
}

.select2 .selection .select2-selection {
    border: 1px solid #dee2e6 !important;
    min-height: calc(1.8rem + 2px) !important;
    border-radius: 0;
}

.select2-container .select2-dropdown {
    border: 1px solid #dee2e6 !important;
}

.select2-selection__choice, .select2-results__option {
    font-size: 13px;
    font-weight: normal;
}

.select2-selection__choice__remove {
    margin-right: 0;
}

.select2-selection__choice {
    white-space: normal !important;
}

.form-group input[type="month"] {
    width: 100%;
    border: 1px solid #dee2e6;
}

table.protokol {
    width: 100%;
    font-size: 18px;
    color: #000;

    th {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 10px 5px;
    }

    td, th {
        padding: 5px;
        border: solid black 1px;

        textarea.doc-input {
            vertical-align: bottom;
            font-weight: normal;
            border: none;
            &.center {
                text-align: center;
            }
        }

        &.head {
            background: #e1e1e1;
            font-weight: bold;
        }
    }
}

// Driver

.menu_link_driver {
    border-radius: 15px;
    border: 1px solid white;
    background-color: #4aa0e6;
    color: white;
    font-size: 1.3rem;
    line-height: 1.5rem;
    min-height: 100px;
    padding: 10px;
    transition: ease-in-out 0.2s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu_link_driver:hover {
    background-color: rgba(74, 160, 230, 0.7);
}

.menu_link_driver a {
    background: none;
    text-decoration: none;
}

.driver-card {
    border-radius: 15px;
}

.driver-card-img {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
}

.driver-bdd-link {
    border-radius: 10px;
    border: 1px solid white !important;
    background-color: #4aa0e6 !important;
    margin: 5px 0;
    color: white;

    &:hover {
        background-color: rgba(74, 160, 230, 0.7)  !important;
        color: white !important;
    }

    &.active {
        background-color: rgba(228, 12, 25, 0.5) !important;
    }
}


@page { margin-left: 1.18in; margin-right: 0.59in; margin-top: 0.59in; margin-bottom: 0.37in }
P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }


main.blue {
    background-color: #BACEF4;
}

.footer-inner {
    padding: 20px 25px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.cp-logo, .cp-logo:hover {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    text-transform: none;

    span {
        color: #E93223;
    }
}

.preloader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preloader.hide {
    display: none;
}

.lds-ring {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 8px;
    border: 3px solid #e30c17;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #e30c17 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.ql-size-large {
    font-size: 18px;
}
.ql-size-small {
    font-size: 10px;
}
.ql-color-\#5c0000 {
    color: #5c0000;
}
.ql-color-\#e60000 {
    color: #e60000;
}
.ql-color-\#ff9900 {
    color: #ff9900;
}
.ql-color-\#ffff00 {
    color: #ffff00;
}
.ql-color-\#008a00 {
    color: #008a00;
}
.ql-color-\#0066cc {
    color: #0066cc;
}
.ql-color-\#0066cc {
    color: #0066cc;
}
.ql-color-\#9933ff {
    color: #9933ff;
}
.ql-color-\#ffffff {
    color: #ffffff;
}
.ql-color-\#facccc {
    color: #facccc;
}
.ql-color-\#ffebcc {
    color: #ffebcc;
}
.ql-color-\#ffffcc {
    color: #ffffcc;
}
.ql-color-\#cce8cc {
    color: #cce8cc;
}
.ql-color-\#cce0f5 {
    color: #cce0f5;
}
.ql-color-\#ebd6ff {
    color: #ebd6ff;
}
.ql-color-\#bbbbbb {
    color: #bbbbbb;
}
.ql-color-\#f06666 {
    color: #f06666;
}
.ql-color-\#ffc266 {
    color: #ffc266;
}
.ql-color-\#ffff66 {
    color: #ffff66;
}
.ql-color-\#66b966 {
    color: #66b966;
}
.ql-color-\#66a3e0 {
    color: #66a3e0;
}
.ql-color-\#c285ff {
    color: #c285ff;
}
.ql-color-\#888888 {
    color: #888888;
}
.ql-color-\#a10000 {
    color: #a10000;
}
.ql-color-\#b26b00 {
    color: #b26b00;
}
.ql-color-\#b2b200 {
    color: #b2b200;
}
.ql-color-\#006100 {
    color: #006100;
}
.ql-color-\#0047b2 {
    color: #0047b2;
}
.ql-color-\#6b24b2 {
    color: #6b24b2;
}
.ql-color-\#444444 {
    color: #444444;
}
.ql-color-\#5c0000 {
    color: #5c0000;
}
.ql-color-\#663d00 {
    color: #663d00;
}
.ql-color-\#666600 {
    color: #666600;
}
.ql-color-\#003700 {
    color: #003700;
}
.ql-color-\#002966 {
    color: #002966;
}
.ql-color-\#3d1466 {
    color: #3d1466;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.report__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}

.report__item {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 10px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
}

.report__item-title {
    width: 230px;
}

.report__name {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.report__name span {
    font-size: 12px;
    background: rgba(0, 0, 0, 0.1);
    padding: 2px 10px;
    border-radius: 10px;

}

.report__pvs {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.report__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 14px;
}

.report__cards.medic {
    .report__card {
        background-color: rgba(#dc3545, 0.3);
    }
}

.report__card {
    background-color: rgba(#2196F3, 0.5);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report__card-title {
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.report__footer span {
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.report__card-item-name {
    display: flex;
    align-items: center;
    max-width: 200px;
    overflow: hidden;
    gap: 5px;
}

.report__card-item-name span {
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
}

.report__footer {
    padding-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: auto;
}

.report__card-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    gap: 30px;
}

.report__card-item-price {
    display: flex;
    align-items: center;
    gap: 5px;
}

.report__card-item-price span {
    background: rgba(255, 0, 0, 0.5);
    padding: 2px 5px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mobile-download {
    background-color: #2f333e;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.01);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    font-size: 18px;
    z-index: 999;

    .link {
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        line-height: 17px;
    }

    span {
        font-size: 11px;
    }

    .close {
        width: 25px;
        height: 25px;
        background-color: #121319;
        color: #fff;
        opacity: 1;
        border-radius: 50%;
        display: flex;
        font-size: 16px;
        padding-bottom: 2px;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 5px;
        top: -10px;
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 800px) {
    .footer-inner {
        padding: 20px 10px;
    }
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
